.authLayout {
  color: var(--text-main);
  display: flex;
  min-height: 100vh;
}

.formSide {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}

.formHeader {
  padding-bottom: 40px;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: var(--primary);
  text-decoration: none;
  letter-spacing: -0.5px;
}

.formWrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .formSide {
    max-width: 100%;
    padding: 20px;
  }
}
